header {
    background-color: red;
    align-items: baseline;
    justify-content: center;
    height: 75px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    border: black 2px solid;
}

.header-title {
    text-align: center;
    flex: 1;
    order: 2;
}

.header-links {
    width: 100%;
    text-align: right;
    padding: 10px;
    flex: 1;
    order: 3;
}

.header-link:hover {
    color: white;
}

.header-link {
    text-decoration: none;
    color: black;
}

.header-form {
    list-style-type: none;
    text-align: left;
    width: 100%;
    padding: 10px;
    order: 1;
    flex: 1;
}

header nav ul li {
    display: inline;
    padding: 1px;
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

article {
    align-items: center;
    justify-content: center;
    font-family: Calibri, sans-serif;
    border: black 2px solid;
}

.content {
    display: flex;
    flex: 1;
}

.main {
    flex: 0.8;
    order: 2;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

.left-sidebar-links {
    flex: 0.2;
    order: 1;
    height: 100%;
    width: 160px;
    text-align: center;
    justify-content: center;
    border-right: white 2px dotted;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    padding-bottom: 100%;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

.left-sidebar-links h3{
    color: white;
}

.right-sidebar-links {
    flex: 0.2;
    order: 3;
    height: 100%;
    width: 160px;
    text-align: center;
    justify-content: center;
    border-left: black 2px dotted;
    position: static;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

.left-sidebar-link {
    padding: 6px 8px 6px 16px;
    margin-right: 50%;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.left-sidebar-link:hover {
    color: red;
}

.dark-mode {
    background-color: black;
    color: white;
}

body button {
    position: fixed;
    bottom: 8px;
    right: 16px;
    background-color: cornflowerblue;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

article aside ul li {
    display: inline;
    padding: 1px;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
}

table {
    width: 50%;
    margin-left: 25%;
}

footer {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: red;
    border: black 2px solid;
    color: black;
    text-align: center;
    justify-content: center;
}

.footer-links {
    flex: 1;
    order: 1;
    margin-left: 10px;
    color: black;
    text-align: left;
}

.footer_text {
    flex: 1;
    order: 2;
}

footer ul li {
    display: list-item;
    padding: 1px;
    text-align: left;
}

.footer-link {
    text-decoration: none;
    color: black;
}

.footer-link:hover {
    color: white;
}

